@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
  user-select: none;
}

.animate-spin-one {
  animation: spin 3s linear infinite;
}
.animate-spin-two {
  animation: spin 8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.react-logo-animation {
  animation: float 1.5s infinite alternate;
}

.figma-logo-animation {
  animation: float 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10px);
  }
}

.name_text {
  background: -webkit-linear-gradient(360deg, #2600fc, #ff00ea);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.animate-star{
  animation: star 2s infinite alternate;
}
@keyframes star {
  0%{
    rotate: 0deg;
    scale: 0.3;
  }
  100%{
    rotate: 360deg;
    scale: 1;
  }
}